
@{
    ViewBag.Title = "Carwala";
}
<br /><br /><br />

<div class="row row-eq-height" id="row1">
    <div id="ldiv" class="col-sm-3">
        
    </div>
    <div id="cdiv" class="col-sm-7">

        <div class="car">
            <div class="carimg">
                <img src="~/Content/images/big/1.jpg" class="img-thumbnail img-responsive" />
            </div>
            <div class="details">
                <div class="price">5 lakhs</div><br />
                <div class="name">Ciaz</div><br />
                <div class="model">Maruti</div><br />
                <div class="descp">very good Hatchback</div>
            </div>
            </div>

        <div class="car">
            <div class="carimg">
                <img src="~/Content/images/big/2.jpg" class="img-thumbnail img-responsive" />
            </div>
            <div class="details">
                <div class="price"></div><br />
                <div class="name"></div><br />
                <div class="model"></div><br />
                <div class="descp"></div>
            </div>
            </div>

        <div class="car">
            <div class="carimg">
                <img src="~/Content/images/big/3.jpg" class="img-thumbnail img-responsive" />
            </div>
            <div class="details">
                <div class="price"></div><br />
                <div class="name"></div><br />
                <div class="model"></div><br />
                <div class="descp"></div>
            </div>
            </div>

        <div class="car">
            <div class="carimg"><img src="~/Content/images/big/4.jpg" class="img-thumbnail img-responsive" /></div>
            <div class="details">
                <div class="price"></div><br />
                <div class="name"></div><br />
                <div class="model"></div><br />
                <div class="descp"></div>
            </div>
        </div>

    </div>
    <div id="rdiv" class="col-sm-2">
        
    </div>
</div>