<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="oecstring"
         connectionString="integrated security=true;data source=NEXWAVE-PC;database=OnlineTest" />
    <add name="OnlineTestEntities" connectionString="metadata=res://*/EntityFramework.Model1.csdl|res://*/EntityFramework.Model1.ssdl|res://*/EntityFramework.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEXWAVE-PC;initial catalog=OnlineTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OnlineTestEntities1" connectionString="metadata=res://*/EntityFramework.OEEF.csdl|res://*/EntityFramework.OEEF.ssdl|res://*/EntityFramework.OEEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEXWAVE-PC;initial catalog=OnlineTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>