
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        
    </style>
    <script src="Scripts/jquery-2.1.4.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <!--<script src="Scripts/app.js"></script>-->
    <script src="Scripts/i18n/angular-locale_ta-in.js"></script>
    <!--<script src="Scripts/i18n/angular-locale_en.js"></script>-->

</head>
<body ng-app="">
    
    <input type="number" ng-model="formobj.n1" /><br />
    <input type="number" ng-model="formobj.n2" />
    <p>
        <pre>
        The sum is {{formobj.n1+formobj.n2}}
        </pre>
    </p>

</body>
</html>
