<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPayment" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9005/MyService/Payment/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPayment"
                contract="IPayment" name="NetTcpBinding_IPayment">
                <identity>
                    <userPrincipalName value="Nexwave-PC\Nexwave" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>