<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ws" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50985/PaymentGatewayService.svc/paymentservice"
                binding="wsHttpBinding" bindingConfiguration="ws" contract="PaymentGateway.IPaymentService"
                name="ws">
                <identity>
                    <userPrincipalName value="Venkat-Laptop\Venkat" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>